<%- include('partials/header.ejs'); %>

<h1>Here is your cart</h1>
<p>List of items added to customer's cart</p>

<button>Check Out</button>
<p>Check out button could submit items in order to database</p>

<%- include('partials/footer.ejs'); %>