<%- include('partials/header.ejs'); %>

<h1>You selected <%= title %>, these items will be retrieved from the database and displayed below</h1>

<button type="submit">Add to Cart </button>

<%- include('partials/footer.ejs'); %>