<%- include('partials/header.ejs'); %>

<div class="jumbotron">
    <h1 class="display-3">Welcome to Sports USA!</h1>
    <p class="lead">The best place to get any sports equipment you need.</p>
    <hr class="my-2">
    <p>Sign up below to start your season with the best gear.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signUp" role="button">Sign Up Here</a>
    </p>
</div>
<h1>Home Page for SPORTS USA</h1>

<p>List of featured items</p>

<%- include('partials/footer.ejs'); %>

<footer>
    <p>Contact Us</p>
</footer>