<%- include('partials/header.ejs'); %>

<h1>For full transparency, we have included a list of our vendors below which is how we can offer such great quality at affordable prices.</h1>

<p>We can pull a list of our vendors from the database to display here.</p>
<p>If we want we can then also detail which sports items they provide or just list their names.</p>

<%- include('partials/footer.ejs'); %>